// Colour scheme
$green-primary: #4f7771;
$green-secondary: #255d55;
$grey-primary: #effcf9;
$tan-primary: #f3eada;
$yellow-primary: #f0d19d;
$yellow-hover: #c29861;
$white: #ffffff;
$black: #000000;

// Mixins
@mixin mt-1 {
	margin-top: 1rem;
}

@mixin mt-2-5 {
	margin-top: 2.5rem;
}

@mixin mb-1 {
	margin-bottom: 1rem;
}

@mixin mb-2-5 {
	margin-bottom: 2.5rem;
}

@mixin mtb-2-5 {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

@mixin ptb-1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

// Utilities
.show {
	opacity: 1;
}

.hide {
	opacity: 0;
	transition: opacity 300ms;
}

.nullify {
    opacity: 0.5;
    pointer-events: none;
}

.exit {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	top: 1.25rem;
	right: 1.5rem;
	width: 2.5rem;
	height: 2.5rem;
	padding-top: 0.15rem;

	background: $yellow-hover;
	border: 1px solid $green-primary;
	border-radius: 50%;

	color: $green-primary;
	font-weight: 900;
	font-size: 1.75rem;
	cursor: pointer;

		&:hover {
			filter: brightness(90%);
		}
}

// Main styles
*, *::before, *::after {
  box-sizing: border-box;
}

html {
	font-size: 10px; // 10px === 1rem, use rem primarily
	font-family: 'Exo', sans-serif;
}

body {
	background-color: $green-primary;

	@media only screen and (min-width: 1024px) {
		margin: 0 15%;
	}

	@media only screen and (max-width: 1023px) {
		margin: 0 2.5%;
	}
}

button {
	cursor: pointer;
	background-color: $yellow-primary;
	border: 1px solid $green-primary;
	font-family: 'Exo', sans-serif;
	color: $green-secondary;
	box-shadow: 0em 0em 0.5em $green-secondary;

	&:hover {
		background-color: $yellow-hover;
		filter: brightness(1.1)
	}
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include mtb-2-5();

	font-family: 'Rubik Mono One', sans-serif;
	background-color: $green-secondary;
	color: $grey-primary;
	border: 1px solid $yellow-primary;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
}

.options {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.num-strings-container,
.string-set-container,
.add-custom-strings-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;

	@include mb-2-5();

	label {
		color: $grey-primary;
		font-size: 1.6rem;
	}

	input {
		font-size: 1.6rem;
        border-radius: .2rem;
	}

    select {
        font-size: 1.6rem;
        border-radius: .2rem;
    }
}

.add-custom-strings {
	padding: 0.25rem 0.75rem;
}

.str-table-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	#str-table {
		width: 100%;
		border-spacing: 0.7rem;

		@include mb-2-5();

		.row-top {
			th {
				text-align: center;
				text-justify: center;
				color: $grey-primary;
				font-size: 1.6rem;
			}

		}

		.row {
			th {
				text-align: center;
				text-justify: center;
				color: $grey-primary;
			}

			td {
				text-align: center;
				text-justify: center;	
				background-color: $green-secondary;
				color: $grey-primary;
				border: 1px solid $yellow-primary;
			}
		}

		.note-name {
			@include ptb-1();

			.note-inner {
				color: $grey-primary;
				font-weight: 600;
			}

			.note-buttons {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.25rem;
                padding: 0.5rem;

				button {
					width: 25px;
				}
			}
		}

		.gauge {
			.gauge-buttons {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.25rem;
                padding: 0.5rem;

				.button-gauge {
                    width: 25px;
				}
			}
		}
	}
}

.button-pitches-container {
	@include mb-2-5();

	.button-pitches-decrease,
	.button-pitches-increase {
		width: 100px;
		height: 30px;
	}
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

// TODO: Reduce some of this code, bit messy
.card {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50rem;

	transform: translate(-50%, -50%);
	padding: 5rem;
	background-color: $green-secondary;
	border: 1px solid $yellow-primary;

	.content {
		position: relative;
		display: flex;
		flex-direction: column;

		*:not(input) {
			color: $white;
		}
		
		label,
		input {
			margin-bottom: 1rem;
		}
		
		.opening-message {
			margin-bottom: 2.5rem;
			font-weight: 600;
		}

		.row-top {
			display: flex;
			flex-direction: column;

			.string-brand-label,
			.string-type-label {
				text-align: center;
				font-weight: 600;
			}
		}

		.row-string-top {
			display: flex;
			flex-direction: row;

			.gauge,
			.weight {
				text-align: center;
				flex-basis: 50%;
				min-width: 50%;
				margin-bottom: 1rem;

				color: $white;
				font-weight: 600;
			}
		}

		.row {
			display: flex;
			flex-direction: row;
			column-gap: 1rem;

			.string-label {
				flex-shrink: 0;
			}

			.custom-string-weight,
			.custom-string-gauge {
				flex-basis: 50%;
			}
		}
	}

	.submit {
		width: 15rem;
		height: 2.5rem;
		margin: 1rem 2.5rem 0 2.5rem;
		font-weight: 600;
	}
}
