@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.options {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.num-strings-container,
.string-set-container,
.add-custom-strings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    @include mb-2-5();

    label {
        color: $grey-primary;
        font-size: 1.7rem;
        font-weight: 700;
    }

    input {
        font-family: $font-main;
        font-size: 1.6rem;
        border-radius: .2rem;
        padding: 0.35rem;
    }

    select {
        font-family: $font-main;
        font-size: 1.6rem;
        border-radius: .2rem;
        padding: 0.35rem;
    }
}

.add-custom-strings {
    padding: 0.25rem 0.75rem;
    font-size: 1.6rem;
}

.str-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    #str-table {
        width: 100%;
        border-spacing: 0.7rem;

        @include mb-2-5();

        .row-top {
            th {
                text-align: center;
                text-justify: center;
                color: $grey-primary;
                font-size: 1.7rem;
            }
        }

        .row {
            th {
                text-align: center;
                text-justify: center;
                color: $grey-primary;
            }

            td {
                text-align: center;
                text-justify: center;
                background-color: $blue-primary;
                color: $grey-primary;
                border: 1px solid #ABA7CC;
                box-shadow: 0.5px 1px 3px 0.5px rgba($white-primary, 0.2);
            }

            input {
                font-size: 1.6rem;
                border-radius: .2rem;
                padding: 0.1rem 0.1rem 0.1rem 0.35rem;
            }
        }

        .note-name {
            @include ptb-1();

            .note-inner {
                color: $grey-primary;
                font-weight: 600;
            }
        }
    }
}