@use '../abstracts/variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px; // 10px === 1rem, use rem primarily
    font-family: $font-main;
}

body {
    background-color: $black-primary;
    margin: 0 15%;

    @media (max-width: 1024px) {
        margin: 0 7.5%;
    }

    @media (max-width: 768px) {
        margin: 0 3.75%;
    }
}

input {
    background: $white-primary;
}

select {
    background: $white-primary;
}