@use '../abstracts/variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px; // 10px === 1rem, use rem primarily
    font-family: $font-main;
}

body {
    background-color: $black-primary;
}

input {
    background: $white-primary;
}

select {
    background: $white-primary;
}