// Fonts
$font-header: 'Young Serif', serif;
$font-main: 'Karla', sans-serif;

// Colors
$black-primary: #1D1C29;
$white-primary: #F1EDFF;

$blue-primary: #2F3C4D;
$blue-secondary: #508591;
$blue-tertiary: #6CACAB;

$grey-primary: #EFFCF9;
$grey-border: #ABA7CC;

$slate-primary: #E2F1F0;

$tan-primary: #F3EADA;

$yellow-primary: #F0D19D;
$yellow-hover: #C29861;


